{% extends 'findjobs.html' %}

{% block title %}Confirm Delete{% endblock %}
{% block content %}

<form action="{{ url_for('profile.edit_account_process') }}" method="post">
         {{ form.hidden_tag() }}
          <p>
                Name<br><input type="text" value="{{current_user.name}}" required name="name"><br>


        </p>
        <p>
                Email<br><input type="text" value="{{current_user.email}}" required name="email">


        </p>
        <p>
                <input type="submit" value="UPDATE ACCOUNT"><br>

        </p>
</form>

{% endblock %}