{% extends 'findjobs.html' %}

{% block title %}Post Details{% endblock %}
{% block content %}

    <div><img src="{{ post.pic }}" width="150px" height="150px"></div>
    <div><p>Likes: <a href="{{url_for('display.likes',postid=post.id)}}">{{post.likes}}</a> </p></div>
    <div><p>Pet name: {{post.name}}</p></div>
    <div><p>Owner: {{post.author.name}}</p></div>
    <div><p>ABOUT: {{post.about}}</p></div>
    <div><p>Date Posted: {{post.time.date()}}</p></div>
    <div>{% if current_user.id == post.author.id %}
            <a href="{{url_for('upload.edit_post',id=post.id)}}">edit </a>
            <a href="{{url_for('upload.delete_post',id=post.id)}}">delete</a>
         {% endif %}
    </div>
<hr>
    <div class="comments">
        <h3>COMMENTS</h3>
        <hr>
        {% for comment in post.comments %}
        <h4>{{comment.poster.name}}</h4>
        Posted on:{{comment.time.date()  }}</p>
        <p>Comment: {{comment.comment}}</p>
        {% if comment.userid == current_user.id %}
        <a href="{{url_for('comments.delete_process',id=comment.id)}}">delete</a>
        {% endif %}
        <hr>
        {% endfor %}
    </div>





<div class="comments">
    <form method="post" action="{{ url_for('comments.comment_process') }}">
        <input type="hidden" name="postid" value="{{post.id}}">
        enter comment:<br>
        <textarea name="comment", rows="4", cols="50" required placeholder="Write your comment here"></textarea><br>
        <input type="submit" value="Add comment">

    </form>
</div>



{% endblock %}